
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff;
}

/* the main page container (everything above footer) */
.main-content {
  flex: 1; /* pushes footer to the bottom */
}


section {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

h1, h2 {
  color: #0a0a0a;
}
button {
  cursor: pointer;
}
